
#content-index{
  #upload-form {
    .inputfile + label figure {
      background-color: $color1;
    }
    .inputfile + label {
      color: $color1;
      font-size: 2em;
    }
    .inputfile + label {
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  .content {
    text-align: center;
    a.next {
      font-size: 2em;
    }
  }

  #message {
    text-align: center;
    position: absolute;
    bottom: $spacer*2;
    width: 100%;
    .text p{
      font-family: 'myFont', sans-serif;
      font-size: 50px;
      color: #4A4A4A;
      letter-spacing: 0;
      line-height: 36px;
    }
    .hashtag p{
      font-family: 'myHash', sans-serif;
      font-size: 21px;
      color: $color1;
      letter-spacing: 0;
    }
  }
}



/*
// PERSONALIZZAZIONE PULSANTE
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  width: 200px;
  height: 60px;
  text-align: center;
  border: 4px solid #4A4A4A;
  border-radius: 15px;
  color: #4A4A4A;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4A4A4A;
    color: #fff;
}
.inputfile + label {
	cursor: pointer;
}

.carica {
  padding-top: 10px;
  p{
    line-height:60px
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0px;
    width:200px;height:60px;
  }
}
*/
