<% extend('layout') %>

<% if (!user) { %>
  <div>
  	<a href="/auth/facebook"><img src="login-fb.png" width="200"></a>
	</div>
<% } else { %>
	<h1>Hello, <%= user.displayName %>, <%= user.id %></h1>
  <a href="/logout">Logout</a>
<% } %>
