<% extend('layout') %>

<h1>Red boats</h1>

<div class="#upload">
  <form ref='uploadForm'
    id='uploadForm'
    action='/upload'
    method='post'
    encType="multipart/form-data">
      <input type="file" accept="image/*" name="upload" >
      <input type='submit' value='Upload!' />
  </form>
</div>
