<html>
<head>
<title>Facebook Login using Node and Express</title>
</head>
<body>
<% if (!user) { %>
  <div>
  	<h2>Welcome! Please log in.</h2>
  	<a href="/auth/facebook"><img src="login-fb.png" width="200"></a>
	</div>
<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
<% } %>
</body>
</html>
