<% extend('layout') %>


<div class="logo"><img src="betty-logo.png" alt=""></div>

<div class="#upload">
  <form ref='uploadForm'
    id='uploadForm'
    action='/upload'
    method='post'
    encType="multipart/form-data">
      <input type="file" accept="image/*" name="upload" >
      <input type='submit' value='Upload!' />
  </form>
</div>
