<% extend('layout') %>

<div id="content-thanks">
  <div class="content">
    <h1>Grazie <%= user.displayName %></h1>
    <p>
      Ti è stata mandata una mail su <%= user._json.email -%>
    </p>

    <a href="/">torna indietro</a>
  </div>
</div>
