<% extend('layout') %>

<div id="content-thanks">
  <div class="content">
    <h1>Thank you <%= user.displayName %></h1>
    <p>
      An email has been sent to <%= user._json.email -%>
    </p>

    <a href="/">back to home</a>
  </div>
</div>
